*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  height:100dvh;
  font-family:monospace;
  font-size:1.5rem;
  background-color:whitesmoke;
  color:black;
  display:flex;
  gap:1rem;
  flex-direction:column;
  align-items:center;
  justify-content:center;

}
button{
  padding:.5rem;
  font-size:1.5rem;
  border:none;
}
.results {
  font-family:monospace;
  font-size: 1.5rem;
}
.reset-Autoplay{
  display:none
}
.show-button{
  display:block;
}